<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student registration form</title>
</head>
<body>
  <h3>Student resgistration form</h3>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">

  Fisrt name: <input type="text" th:field="*{firstName}" />
  <br><br>
  Last name: <input type="text" th:field="*{lastName}"/>
    <br><br>
    Country:
    <select th:field="*{country}">
        <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>
    </select>
  <br><br>
    Favorite programming language:
    <input type="radio" th:field="*{favoriteLanguage}"
           th:each="tempLang : ${languages}"
           th:value="${tempLang}"
           th:text="${tempLang}"/>
  <br><br>
  Favorite Operating systems:
  <input type="checkbox" th:field="*{favoriteSystems}"
         th:each="tempSystem : ${systems}"
         th:value="${tempSystem}"
         th:text="${tempSystem}"/>


  <br><br>
  <input type="submit" value="submit"/>
</form>
</body>
</html>